@font-face {
    font-family: 'Bio Sans';
    src: url('BioSans-SemiBoldItalic.eot');
    src: url('BioSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('BioSans-SemiBoldItalic.woff2') format('woff2'),
        url('BioSans-SemiBoldItalic.woff') format('woff'),
        url('BioSans-SemiBoldItalic.ttf') format('truetype'),
        url('BioSans-SemiBoldItalic.svg#BioSans-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('BioSans-BoldItalic.eot');
    src: url('BioSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('BioSans-BoldItalic.woff2') format('woff2'),
        url('BioSans-BoldItalic.woff') format('woff'),
        url('BioSans-BoldItalic.ttf') format('truetype'),
        url('BioSans-BoldItalic.svg#BioSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('BioSans-Light.eot');
    src: url('BioSans-Light.eot?#iefix') format('embedded-opentype'),
        url('BioSans-Light.woff2') format('woff2'),
        url('BioSans-Light.woff') format('woff'),
        url('BioSans-Light.ttf') format('truetype'),
        url('BioSans-Light.svg#BioSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('BioSans-ExtraLightItalic.eot');
    src: url('BioSans-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('BioSans-ExtraLightItalic.woff2') format('woff2'),
        url('BioSans-ExtraLightItalic.woff') format('woff'),
        url('BioSans-ExtraLightItalic.ttf') format('truetype'),
        url('BioSans-ExtraLightItalic.svg#BioSans-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('BioSans-ExtraBold.eot');
    src: url('BioSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('BioSans-ExtraBold.woff2') format('woff2'),
        url('BioSans-ExtraBold.woff') format('woff'),
        url('BioSans-ExtraBold.ttf') format('truetype'),
        url('BioSans-ExtraBold.svg#BioSans-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('BioSans-Italic.eot');
    src: url('BioSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('BioSans-Italic.woff2') format('woff2'),
        url('BioSans-Italic.woff') format('woff'),
        url('BioSans-Italic.ttf') format('truetype'),
        url('BioSans-Italic.svg#BioSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('BioSans-LightItalic.eot');
    src: url('BioSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('BioSans-LightItalic.woff2') format('woff2'),
        url('BioSans-LightItalic.woff') format('woff'),
        url('BioSans-LightItalic.ttf') format('truetype'),
        url('BioSans-LightItalic.svg#BioSans-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('BioSans-ExtraBoldItalic.eot');
    src: url('BioSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('BioSans-ExtraBoldItalic.woff2') format('woff2'),
        url('BioSans-ExtraBoldItalic.woff') format('woff'),
        url('BioSans-ExtraBoldItalic.ttf') format('truetype'),
        url('BioSans-ExtraBoldItalic.svg#BioSans-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('BioSans-ExtraLight.eot');
    src: url('BioSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('BioSans-ExtraLight.woff2') format('woff2'),
        url('BioSans-ExtraLight.woff') format('woff'),
        url('BioSans-ExtraLight.ttf') format('truetype'),
        url('BioSans-ExtraLight.svg#BioSans-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('BioSans-Bold.eot');
    src: url('BioSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('BioSans-Bold.woff2') format('woff2'),
        url('BioSans-Bold.woff') format('woff'),
        url('BioSans-Bold.ttf') format('truetype'),
        url('BioSans-Bold.svg#BioSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('BioSans-SemiBold.eot');
    src: url('BioSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('BioSans-SemiBold.woff2') format('woff2'),
        url('BioSans-SemiBold.woff') format('woff'),
        url('BioSans-SemiBold.ttf') format('truetype'),
        url('BioSans-SemiBold.svg#BioSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('BioSans-Regular.eot');
    src: url('BioSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('BioSans-Regular.woff2') format('woff2'),
        url('BioSans-Regular.woff') format('woff'),
        url('BioSans-Regular.ttf') format('truetype'),
        url('BioSans-Regular.svg#BioSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

